@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato');

@media only screen and (max-width: 1000px) {
    .img-circle, .devices {
        display: none;
    }

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

#logo{
margin:15px auto;
display:block;
margin-left: 630px;

}

.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px #000;
}

.navbar-brand {
    letter-spacing: 1px;
    color: #FFFFFF !important;
}

.navbar li a, .navbar {
    color: #fff !important;
    font-size: 16px;
    transition: all 0.6s 0s;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #DD4E40 !important;
}

/* Así fue que pude hacer la pequeña animación del navbar*/
.navbar-invis {
    background-color: rgba(0, 0, 0, 0);
}

/* y con esto tambien, para que funcione cuando se pase el clic */
.navbar-moved {
    background-color: #242B35;
    -webkit-box-shadow: 0px 1px 5px 0px #000;
    -moz-box-shadow: 0px 1px 5px 0px #000;
    box-shadow: 0px 1px 5px 0px #000;
}

.container-fluid {
    padding: 35px !important;
}

.contactBtn {
    background-color: #DD4E40;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.contactBtn:hover {
    color: #FFFFFF;
    background-color: #E62117;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


h1 {
    text-shadow: 1px 2px 3px #000;
    margin-top: 15%;
}


#footer {
    background-color: #242B35;
    background-size: cover;
    margin-top: 100px;
    padding: 30px !important;
    -webkit-box-shadow: inset 0px 10px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 10px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 10px 20px -9px rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
}

#footer a {
    color: #FFFFFF;
    font-size: 15px;
}

.copyright {
    padding-top: 10px;
    font-size: 12px;
    color: #FFFFFF;
}

h2, h1 {
    font-family: 'Pacifico', cursive;
}

.overlay h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

a {
    color: #205493;
    font-weight: bold;
}

a:hover, a:active a:visited {
    color: #DD4E40;
    text-decoration: none !important;
}
/* con estos codigos fue que pude hacer el slider, usando solo HTML y CSS animations */
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}
/* aqui esta el tiempo determinado de las fotos y porque se devuelven */
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


